<h4 class="centered individual-score">
  <%= @last_game.nickname %>, jouw score is: <%= @last_game.score %> punten!
</h4>

<h6 class="title-padded"><i>All-time rankings</i></h6>
<table class="table-rankings">
  <tr>
    <th>Rank</th>
    <th>Nickname</th>
    <th>Score</th>
  </tr>
<% @count = 0 %>
<% @all_games.each do |game| %>
  <tr>
    <td><%= @count += 1 %> </td>
    <td><%= game.nickname %></td>
    <td><%= game.score %></td>
  </tr>
  <% end %>
</table>

<a href="https://enigmatic-fjord-27530.herokuapp.com/">
  <div class="btn btn-success">Speel opnieuw</div>
</a>
