<div class="welcome">
  <h1>Welkom bij de Zonnige Quiz!</h1>
  <p>
    In de Zonnige Quiz houden we het graag simpel.
    Alles wat je moet weten is dat:
    <ul>
      <li>De quiz bestaat uit 5 multiple choice vragen</li>
      <li>Je hebt 10 seconden per vraag hebt om te antwoorden</li>
    </ul>
  </p>

  <div class="centered">
    <%= form_for(@game) do |f| %>
      <p>Jouw nickname:</p>
      <%= f.text_field :nickname %>

    <div class="start-quiz">
      <button type="button" class="btn btn-success">Start quiz</button>
    </div>
  </div>

</div>

<div class="question-1">

  <h4>1) Hoe veel mensen leven er momenteel op aarde?</h4>
  <p><%= f.radio_button :q1_points, 0 %> 5,4 miljard</p>
  <p><%= f.radio_button :q1_points, 0 %> 6,4 miljard</p>
  <p><%= f.radio_button :q1_points, 20 %> 7,4 miljard</p>

  <div class="wrapper">
    <div class="pie spinner"></div>
    <div class="pie filler"></div>
    <div class="mask"></div>
  </div>

</div>

<div class="question-2">

  <h4>2) Wie bracht er als eerst een bezoek aan de ruimte?</h4>
  <p><%= f.radio_button :q2_points, 0 %> Neil Armstrong</p>
  <p><%= f.radio_button :q2_points, 20 %> Albert (the monkey)</p>
  <p><%= f.radio_button :q2_points, 0 %> Laika (the dog)</p>

  <div class="wrapper">
    <div class="pie spinner"></div>
    <div class="pie filler"></div>
    <div class="mask"></div>
  </div>

</div>

<div class="question-3">

  <h4>3) De oudste boom ter wereld, een Noorse spar, staat in Zweden. Hoe oud is deze boom?</h4>
  <p><%= f.radio_button :q3_points, 0 %> 95 jaar oud</p>
  <p><%= f.radio_button :q3_points, 0 %> 950 jaar oud</p>
  <p><%= f.radio_button :q3_points, 20 %> 9.500 jaar oud</p>

  <div class="wrapper">
    <div class="pie spinner"></div>
    <div class="pie filler"></div>
    <div class="mask"></div>
  </div>

</div>

<div class="question-4">

  <h4>4) Robert Pershing Wadlow (1918-1940), een Amerikaan, was de langste mens ooit volgens het Guinness Book of Records. Hoe lang was hij?</h4>
  <p><%= f.radio_button :q4_points, 0 %> 232cm</p>
  <p><%= f.radio_button :q4_points, 0 %> 252cm</p>
  <p><%= f.radio_button :q4_points, 20 %> 272cm</p>

  <div class="wrapper">
    <div class="pie spinner"></div>
    <div class="pie filler"></div>
    <div class="mask"></div>
  </div>

</div>

<div class="question-5">

  <h4>5) Hoe heet is de zon aan zijn oppervlakte?</h4>
  <p><%= f.radio_button :q5_points, 20 %> 6.000 graden Celsius</p>
  <p><%= f.radio_button :q5_points, 0 %> 60.000 graden Celsius</p>
  <p><%= f.radio_button :q5_points, 0 %> 600.000 graden Celsius</p>

  <div class="wrapper">
    <div class="pie spinner"></div>
    <div class="pie filler"></div>
    <div class="mask"></div>
  </div>

</div>

<div class="submit centered">
  <h2>Time's Up!</h2>
    <%= f.submit %>
  <% end %>
</div>

